# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg
.env
*.sqlite3
db.sqlite3
staticfiles/
media/

# Node
node_modules/
npm-debug.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
mysql_data/

# OS
.DS_Store
Thumbs.db
